*.[oa]
*~
*.txt
*.doc
*.exe
*svn-base
.svn/
*.zip
*.tar.gz
*.tar
*.bin
*.elf
*.map
*.dis
.cproject/
.project/
*.d
*.lnk
*.dll
*.test
*.vbs
*.ctl
*.tst
*.o
*.conf
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
/Debug/
